<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>App Academia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- favicon-->
	<link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
	<!-- Bootstrap Core CSS -->
	<link href="{{NeuralRutaWebPublico}}/assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="{{NeuralRutaWebPublico}}/assets/css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="{{NeuralRutaWebPublico}}/assets/css/font-awesome.css" rel="stylesheet">
	<!-- jQuery -->
	<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.bg-img{
			width: 100%;
			height: auto;
		}
		label.error {
			color: #0f97d0;
			font-size: 11px;
		}
	</style>
	<!--jquery-->
	<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/jquery-1.10.2.min.js"></script>
	<!--skycons-icons-->
	<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/skycons.js"></script>
	<!--jquery.easydropdown-->
	<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/jquery.easydropdown.js"></script>


</head>
<body>
<div class="page-container">
	<!--/content-inner-->
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<section id="content" class="table-layout animated fadeIn">
					<div class="tray tray-center">
						<div class="col-sm-11 col-lg-11 col-md-11 col-xs-11">
							<ol class="breadcrumb">
								<li>
									{% block Titulo %}
									<a href="#">Principal</a>
									{% endblock Titulo %}
								</li>
							</ol>
							<!--  Contenido -->
							<div id="Areaontenido"></div>
							{% block Contenido %}
							<!-- Contenido de la Aplicacion -->

							{% endblock Contenido %}
							<!-- #Contenido -->

							<!--footer section start-->
							{% include 'General/Partes/Pie.html' %}
							<!--footer section end-->
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>
	<!--//content-inner-->
	<!--/sidebar-menu-->
	{% include 'General/Partes/BarraLateral.html' %}
	<!--//sidebar-menu-->
	<div class="clearfix"></div>
</div>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/TweenLite.min.js"></script>
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/CSSPlugin.min.js"></script>
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/assets/js/scripts.js"></script>
<script>
	var toggle = true;
	$(".sidebar-icon").click(function() {
		if (toggle)
		{
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		}
		else
		{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() {
				$("#menu span").css({"position":"relative"});
			}, 400);
		}
		toggle = !toggle;
	});
</script>
</body>
</html>